/* Extra background for required fields */
input.form-control.required {
  background-color: #206bc411;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.field-label {
  font-size: 0.625rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.6;
  color: #626976;
}

body {
  background-color: #f8fafc;
}

/* Hide navbar on small screens */
.navbar-hidden {
  min-height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Adjust icon size in navbar */
.navbar-toggler .icon {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}

/* Adjust navbar outside of container */
.container-xl .mobile-page-title {
  margin-left: -1rem;
  margin-right: -1rem;
}

.navbar-brand {
  padding: 0.75rem;
}

.offcanvas-header {
  padding: 0.5rem 1.5rem;
  padding-bottom: calc(0.5rem + 1px);
}

.theme-dark .offcanvas-header {
  background: #1b2434;
}

.navbar-vertical {
  background: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0;
}

.navbar-vertical button.nav-link {
  background-color: transparent;
  border-color: transparent;
}

.navbar-vertical .dropdown-toggle.collapsed:after {
  transform: rotate(-135deg);
}

.navbar-vertical .navbar-nav .navbar-nav .nav-link {
  padding-left: 1.75rem;
}

@import url("https://fonts.googleapis.com/css2?family=Megrim&text=B");

.basic-logo {
  display: inline-flex;
  font-family: "Megrim";
  background-color: #206bc4;
  color: #ffffff;
  border-radius: 100rem;
  padding: 0.5em;
  height: 1.75em;
  width: 1.75em;
  font-size: 1.25em;
  border: 1px solid transparent;
  justify-content: center;
  align-items: center;
}

.basic-title {
  padding: 1rem 0rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
