@import "~/src/scss/_mixins.scss";

/* Extra background for required fields */
input.form-control.required {
  background-color: #206bc411;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.field-label,
.form-label {
  color: var(--tblr-muted);
  font-size: 0.625rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.6;
}

.form-check-label {
  color: var(--tblr-muted);
}

/* Bootstrap - fix sticky top */
.sticky-top {
  padding-top: 0.01em;
}

/* Bootstrap - variant color */
.bg-primary-50 {
  background-color: RGBA(32, 107, 196, 0.5);
}

/* Tabler - fix theme-dark sort selection */
.table-sort.asc,
.table-sort.desc,
.table-sort:hover {
  color: inherit;
}

/* Hide navbar on small screens */
.navbar-hidden {
  min-height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Adjust icon size in navbar */
.navbar-toggler .icon {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}

/* Adjust navbar outside of container */
.container-xl .mobile-page-title {
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar-brand {
  padding: 0.75rem;
}

.navbar .navbar-brand:focus {
  opacity: 1;
}

.offcanvas-header {
  padding: 0.5rem 1.5rem;
  padding-bottom: calc(0.5rem + 1px);
}

.navbar-vertical button.nav-link {
  background-color: transparent;
  border-color: transparent;
}

.navbar-vertical .dropdown-toggle.collapsed:after {
  transform: rotate(-135deg);
}

.navbar-vertical .navbar-nav .navbar-nav .nav-link {
  padding-left: 1.75rem;
}

.page-header {
  min-height: 3rem;
}

/* Update standard tabler style */
th.required:after {
  content: "*";
  margin-left: 0.25rem;
  color: #d63939;
}

.avatar {
  min-width: var(--tblr-avatar-size);
}

.bg-orange {
  background: #f76707 !important;
}

.dropdown-toggle:after {
  min-width: 0.36em;
}

.text-muted {
  color: var(--tblr-muted) !important;
}

.markdown > table thead th,
.table thead th {
  color: var(--tblr-muted);
}

.offcanvas-footer {
  margin-top: auto;
}

@media (min-width: 992px) {
  .navbar-expand-lg .offcanvas-footer {
    padding: 1.5rem 0rem;
  }
}

/* Update of the theme-dark default */
.theme-dark ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.theme-dark input[type="file"].form-control::file-selector-button {
  background-color: var(--tblr-border-color);
}
.theme-dark input[type="file"].form-control:hover::file-selector-button {
  background-color: var(--tblr-btn-color);
  color: var(--tblr-btn-color-text);
}

/* react-select styling */
.react-select__control {
  flex-wrap: nowrap !important;
  width: 100% !important;
}

.react-select__menu {
  min-width: 20rem;
}

.required .react-select__control,
.theme-dark .required .react-select__control {
  background-color: #206bc411;
  flex-wrap: nowrap;
}

.required .react-select__control--is-focused {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(32 107 196 / 25%);
}

.theme-dark .react-select__control,
.theme-dark .react-select__menu {
  background-color: #1b2434;
  color: #f8fafc;
  border-color: #2c3c56;
}
.theme-dark .react-select__option:hover {
  background-color: #1a569d;
}
.theme-dark .react-select__menu {
  border: 1px solid #2c3c56;
}
.theme-dark .react-select__single-value {
  color: #f8fafc;
}

.is-invalid .react-select__control {
  border-color: var(--tblr-danger);
}

/* Special style for nav buttons */
.btn.btn-nav {
  color: #206bc4;
  background-color: transparent;
  border-color: transparent;
  font-weight: 400;
  text-decoration: none;
}

.btn.btn-nav:focus {
  box-shadow: none;
  border-color: transparent !important;
}

.btn.btn-nav.active {
  border-radius: 0px;
  border-bottom: 2px solid;
  border-bottom-color: #206bc4 !important;
}

/* Logo of the application */
@import url("https://fonts.googleapis.com/css2?family=Megrim&text=BASICbasic");
@font-face {
  font-family: "Megrim", "Megrim-Offline";
  font-style: normal;
  font-weight: 400;
  src: url(/font-megrim-basic.woff2) format("woff2");
}

.basic-logo {
  display: inline-flex;
  font-family: "Megrim", "Megrim-Offline";
  background-color: #206bc4;
  color: #ffffff;
  border-radius: 100rem;
  padding: 0.5em;
  height: 1.75em;
  width: 1.75em;
  font-size: 1.25em;
  border: 1px solid transparent;
  justify-content: center;
  align-items: center;
}

.basic-text {
  font-family: "Megrim", "Megrim-Offline";
  color: #206bc4;
  letter-spacing: 0.2rem;
}

.theme-dark .basic-text {
  color: #ffffff;
}

.basic-title {
  padding: 1rem 0rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

/* Dashboard */
.schedule .col:first-child .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.schedule .col:not(:first-child):not(:last-child) .form-control {
  border-left: none;
  border-radius: 0;
}
.schedule .col:last-child .form-control {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.schedule .col .form-control:focus {
  position: relative;
  z-index: 100;
}

.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-60 {
  width: 60%;
}

@media (min-width: 768px) {
  .w-md-50 {
    width: 50% !important;
  }
}
@media (min-width: 992px) {
  .w-lg-33 {
    width: 33% !important;
  }
}

.ldap-attributs {
  display: inline-block;
  padding: 2%2%0%2%;
}

.picture {
  position: relative;
  bottom: 15%;
  left: 0%;
  max-width: 80%;
  height: auto;
}

.ldap-card {
  padding: 2% 3%;
  height: 180px;
}

.importable {
  position: relative;
  bottom: 22%;
  left: 70%;
}

@media (min-width: 1320px) {
  .importable {
    position: relative;
    bottom: 22%;
    left: 80%;
  }
}

.container-xl {
  max-width: 1620px;
}

.table-calendar thead {
  display: block;
}

.table-calendar tbody {
  display: block;
  width: 100%;
  max-height: 65vh;
}

.table-calendar th:first-child,
.table-calendar td[rowspan]:first-child {
  border-right: 1px solid #00000030;
}

/* Table displayed as cards using .d-{sz}-card */
@include card {
  .card-table,
  .card-table tbody {
    display: block;
  }

  .card-table thead {
    display: none;
  }

  .card-table tr {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em;
  }

  .card-table tbody tr:not(:first-child) {
    border-top: 1px solid rgba(98, 105, 118, 0.16);
  }

  .card-table td,
  .card-table tr td:first-child,
  .card-table tr th:first-child,
  .card-table tr td:last-child,
  .card-table tr th:last-child {
    border: none;
    padding: 0.5em;
  }
}
