.offcanvas-body-title {
  padding-right: var(--tblr-navbar-nav-link-padding-x);
  padding-left: var(--tblr-navbar-nav-link-padding-x);

  .btn {
    margin: 0;
  }
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding-right: var(--tblr-navbar-nav-link-padding-x);
  padding-left: var(--tblr-navbar-nav-link-padding-x);
}
