/* react-select styling
 */

.react-select__control {
  flex-wrap: nowrap !important;
  width: 100% !important;
}

.react-select__menu {
  min-width: 20rem;
}

.required .react-select__control,
.theme-dark .required .react-select__control,
[data-bs-theme="dark"] .required .react-select__control {
  background-color: #206bc411;
  flex-wrap: nowrap;
}

.required .react-select__control--is-focused {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(32 107 196 / 25%);
}

.is-invalid .react-select__control {
  border-color: var(--tblr-danger);
}

.theme-dark,
[data-bs-theme="dark"] {
  .react-select__control,
  .react-select__menu {
    background-color: #1b2434;
    color: #f8fafc;
    border-color: #2c3c56;
  }
  .react-select__option:hover {
    background-color: #1a569d;
  }
  .react-select__menu {
    border: 1px solid #2c3c56;
  }
  .react-select__single-value {
    color: #f8fafc;
  }
}
